################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Output/Tests
*.suo
/src/packages
/src/SimpleFixture/bin/Debug
/src/SimpleFixture/obj/Debug
/src/SimpleFixture.FakeItEasy/bin/Debug
/src/SimpleFixture.FakeItEasy/obj/Debug
/src/SimpleFixture.Moq/bin/Debug
/src/SimpleFixture.Moq/obj/Debug
/src/SimpleFixture.NSubstitute/bin/Debug
/src/SimpleFixture.NSubstitute/obj/Debug
/src/SimpleFixture.xUnit/bin/Debug
/src/SimpleFixture.xUnit/obj/Debug
/tests/SimpleFixture.Tests/obj/Debug
/tests/SimpleFixture.Tests/bin/Debug
