################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Output/Tests
*.suo
/src/packages
/src/SimpleFixture/bin/Debug
/src/SimpleFixture/obj/Debug
/src/SimpleFixture.FakeItEasy/bin/Debug
/src/SimpleFixture.FakeItEasy/obj/Debug
/src/SimpleFixture.Moq/bin/Debug
/src/SimpleFixture.Moq/obj/Debug
/src/SimpleFixture.NSubstitute/bin/Debug
/src/SimpleFixture.NSubstitute/obj/Debug
/src/SimpleFixture.xUnit/bin/Debug
/src/SimpleFixture.xUnit/obj/Debug
/tests/SimpleFixture.Tests/obj/Debug
/tests/SimpleFixture.Tests/bin/Debug

/.vs
/src/SimpleFixture.xUnit/project.lock.json
/src/SimpleFixture.xUnit
/src/SimpleFixture.NSubstitute/project.lock.json
/src/SimpleFixture.NSubstitute
/src/SimpleFixture.Moq/project.lock.json
/src/SimpleFixture.Moq
/src/SimpleFixture.FakeItEasy/project.lock.json
/src/SimpleFixture.FakeItEasy
/src/SimpleFixture/project.lock.json
/Backup
/src/SimpleFixture/obj
/src/SimpleFixture/obj/SimpleFixture.csproj.nuget.g.targets
/src/SimpleFixture/obj/SimpleFixture.csproj.nuget.g.props
/src/SimpleFixture/obj/project.assets.json
/tests/SimpleFixture.Tests/obj/SimpleFixture.Tests.csproj.nuget.g.targets
/tests/SimpleFixture.Tests/obj/SimpleFixture.Tests.csproj.nuget.g.props
/tests/SimpleFixture.Tests/obj/project.assets.json
/src/SimpleFixture.MSTest/bin/Debug/uap10.0
/src/SimpleFixture.MSTest/bin/Debug/netstandard1.0
/src/SimpleFixture.MSTest/bin/Debug/net45
/src/SimpleFixture.MSTest/obj/Debug/net45
/src/SimpleFixture.MSTest/obj/Debug/uap10.0
/src/SimpleFixture.MSTest/obj
/tests/SimpleFixture.Tests.MSTest/bin/Debug/netcoreapp1.1
/tests/SimpleFixture.Tests/obj
/tests/SimpleFixture.Tests.MSTest/obj/SimpleFixture.Tests.MSTest.csproj.nuget.g.targets
/tests/SimpleFixture.Tests.MSTest/obj/SimpleFixture.Tests.MSTest.csproj.nuget.g.props
/tests/SimpleFixture.Tests.MSTest/obj/SimpleFixture.Tests.MSTest.csproj.nuget.cache
/tests/SimpleFixture.Tests.MSTest/obj/project.assets.json
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.Program.cs
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.pdb
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.dll
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.csprojResolveAssemblyReference.cache
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.csproj.FileListAbsolute.txt
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.csproj.CoreCompileInputs.cache
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.csproj.CopyComplete
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1/SimpleFixture.Tests.MSTest.AssemblyInfoInputs.cache
/tests/SimpleFixture.Tests.MSTest/obj/Debug/netcoreapp1.1
/tests/SimpleFixture.Tests.MSTest/obj
