version: 1.0.{build}
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore src/SimpleFixture.sln
build:
  project: src/SimpleFixture.sln
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal