environment:
  build_version: 3.0.0
  Version: $(build_version)-Nightly%APPVEYOR_BUILD_NUMBER% 
  COVERALLS_REPO_TOKEN:
    secure: y0rSDEqwr4qPrtlqBPN+nuJ7XqeO2fvwjx88kYMriIiXmS/m3cBYBWYQ99SsWeQH
version: $(build_version)-{build}
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '$(build_version).0'
  assembly_file_version: '$(build_version).{build}'
  assembly_informational_version: '$(build_version)'
before_build:
- cmd: nuget restore SimpleFixture.sln
build:
  project: SimpleFixture.sln
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
test_script:
- cmd: cd tests/SimpleFixture.Tests/
- cmd: CodeCoverageAppVeyor.cmd
after_build:
- cmd: msbuild /t:pack src/SimpleFixture/SimpleFixture.csproj /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/SimpleFixture.FakeItEasy/SimpleFixture.FakeItEasy.csproj  /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/SimpleFixture.Moq/SimpleFixture.Moq.csproj  /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/SimpleFixture.NSubstitute/SimpleFixture.NSubstitute.csproj  /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/SimpleFixture.xUnit/SimpleFixture.xUnit.csproj  /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
- cmd: msbuild /t:pack src/SimpleFixture.MSTest/SimpleFixture.MSTest.csproj  /p:Configuration=Release /p:IncludeSymbols=true /p:PackageOutputPath=..\..\
artifacts:
- path: SimpleFixture*.nupkg
  name: SimpleFixture
os: Visual Studio 2017
